body {/*
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -140px;*/
    background: rgb(140,158,249); !important;
    background: linear-gradient(325deg, rgba(140,158,249,1) 0%, rgb(177, 242, 244) 52%, rgb(200, 255, 248) 100%); !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
}